@model MotorCycle_.Models.XEGANMAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thong tin chi tiet xe gan may</h2>
<img src="~/images/@Model.Anhbia"/>
<h3>Ten xe: @Model.TenXe</h3>

